@import "../../../sass/others/colors.scss";

.repositoryContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 400px;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.25);
  border-left: 3px solid $repo-default-color;
  padding: 1rem;

  h3 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  p {
    overflow: hidden; // Removendo barra de rolagem
    text-overflow: ellipsis; // Adicionando "..." ao final
    display: -webkit-box;
    -webkit-line-clamp: 2; // Quantidade de linhas
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    color: $repo-default-color;

    a {
      color: inherit;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
